header{text-align: center;background-color: black;padding: 20px ;}
header a{margin: 0 20px;text-transform: capitalize;color: #fff;text-decoration: none;font-weight:500;}
header a.active{color: red;}

.main{text-align: center;margin: 50px 20px;}

.footer{text-align: center;background-color: black;padding: 20px ;}
.footer h4{margin: 0 20px;text-transform: capitalize;color: #fff;text-decoration: none;font-weight:500;}